* {
  box-sizing: border-box;
}

html, body {
  font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
  padding: 0;
  margin: 0;
}

header {
  background: #eee;
  padding: 1rem 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.info {
  background: #f9f9f9;
  padding: .5rem 0;
}

.apis section {
  border-left: 2px solid #eee;
  padding-left: .5rem;
  margin-bottom: .5rem;
}

.operation .parameter.required .required-optional {
  color: red;
}
